<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>productID</key>
		<string>medikey002</string>
		<key>periodKey</key>
		<string>year</string>
		<key>titleKey</key>
		<string>Annual</string>
	</dict>
	<dict>
		<key>productID</key>
		<string>medikey003</string>
		<key>periodKey</key>
		<string>quarter</string>
		<key>titleKey</key>
		<string>Quarterly</string>
	</dict>
	<dict>
		<key>productID</key>
		<string>medikey004</string>
		<key>periodKey</key>
		<string>month</string>
		<key>titleKey</key>
		<string>Monthly</string>
	</dict>
</array>
</plist>
